---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/161.185.207.20/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 1550ea0baaa919005b63365377670421/8072321655877415317
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "161.185.207.20",
          "city": "Brooklyn",
          "region": "New York",
          "country": "US",
          "loc": "40.6501,-73.9496",
          "postal": "11202",
          "timezone": "America/New_York",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Thu, 21 Nov 2019 05:04:52 GMT
recorded_with: VCR 5.0.0
